/* Font styles: Marck Script, Nunito (normal 400 bold 700) */;

body {
	background-color: #e3d8c9;
}

nav li, h1, h2 {
	font-family: 'Nunito', sans-serif;
}

h1, h2 {
	color: #e3d8c9;
}

body {
	background-color: #e3d8c9;
}

/*-----------Nav-----------*/
nav {
	width: 100%;
	height: 3em;
	background-color: #1a2530;
	/*display: none;*/
}

nav ul {
	text-align: center;
}
nav li {
	color: #e74c3c;
	display: inline-block;
	text-align: center;
	font-size: 1.1em;
	padding: .82em 1em;
	
	font-weight: 700;
}


/*-----------Head-----------*/

.head {
	width: 60%;
	box-shadow: 5px 5px 25px black;
	margin: 4em 20%;
	background-color: #2c3e50;
}

.head h1 {
	text-align: center;
	font-size: 2.5em;
	padding: .75em;
}

.add-bar {
	width: 70%;
	margin: .75em 0 1.5em 10%;
	padding: .5em;
	border-radius: 10px;
	text-align: center;
}

form input {
	background-color: #e3d8c9;
}

.head button {
	width: 10%;
	border-radius: 10px;
	background-color: #e74c3c;
}


/*-----------List-----------*/

.list {
	/*border: 1px solid red;*/
	box-shadow: 5px 5px 25px black;
	width: 80%;
	margin: 0 10%;
	background-color: #2c3e50;
	padding: 2em 0;
}

.list h2{
	margin: .5em;
}

h2 {
	font-size: 2em;
	/*margin: .5em 0 .5em 10%;*/
	text-align: center;
}

#toBuytitle {
	margin: 0 0 .5em 0;
}

.list li {
	width: 90%;
	height: 1.5em;
	margin: .25em 0 .25em 5%;
	font-size: 1.2em;
	background-color: #e3d8c9;
	border-radius: 10px;
	line-height: 1.5em
	overflow: hidden;
}

.textcontain {
	display: inline-block;
	max-width: 85%;
	overflow: hidden;
}
.list li p {
	display: inline;
	width: 70%;
	margin-left: .5em;
	margin-top: .15em;
	
}

.list button {
	float: right;
	height: 100%;
	width: 15%;
	border-radius: 10px;
	background-color: #e74c3c;
	padding: 0;
	display: inline;
}

.delete {
	float: right;
	background-color: red;
	height: 100%;
}

.bought p {
	text-decoration: line-through;
}

/*-----------clear-----------*/

.clear {
	margin-bottom: 4em;
	text-align: center;
}

.clear li {
	display: inline-block;
	margin: 1em 2%;
	font-weight: 600;
	background-color: #e74c3c;
	padding: .5em;
	border-radius: 10px;
}


/*-----------Footer-----------*/

footer {
	width: 100%;
	height: 5rem;
	background-color: #1a2530;
	float: bottom;
}

footer p {
	color: #e74c3c;
}

/*I was working of formating the footer but did not get a chance to finish*/
.foot {
	width: 50%;
	margin: 1em 25%;
	border: 1px solid red;
}